body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboardTable {
  margin: 5rem;
  color: rgba(0,0,0,.92);
  border-collapse: collapse;
  text-align: center;
  width: 80%;
  font-size: 14px;
  box-shadow: 0 0 8px #9b9b9b;
}